.thumbnail{
    width: 50vh;
    margin: auto;
    border-radius: 6px;
}

h1{
    font-size: 10vh;
    font-family: monospace;
    font-weight: bold;
}

.center-content{
    text-align: center;
    flex-direction: column;
}